# Ignore virtual environment
venv/
.env

# Ignore git directories
.git/
.github/

# Ignore python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore local IDE settings
.vscode/
.idea/

# Ignore local datasets (models/ MUST NOT be ignored because HF needs the .pkl files)
data/raw/
data/processed/

# Ignore temp files
*.log
